@rendermode InteractiveServer
@using Domain.Models

<h4>Select Equipment:</h4>
<div>

    <Grid TItem="EquipmentBase"
          
          Class="table table-hover table-bordered table-striped"
          DataProvider="EquipmentItemsDataProvider"
          AllowFiltering="true"
          AllowPaging="true"
          PageSize="5"
          AllowSorting="true"
          FixedHeader="true"
          Unit="Unit.Px"
          Height="300"
          SelectedItemsChanged="OnSelectedItemsChanged"
          Responsive="true"
          >

        <GridColumns>
           
            <GridColumn TItem="EquipmentBase" HeaderText="Type" PropertyName="EquipmentType" SortKeySelector="item => item.EquipmentType">
                @context.EquipmentType
            </GridColumn>
            <GridColumn TItem="EquipmentBase" HeaderText="Name" PropertyName="EquipmentName" SortKeySelector="item => item.EquipmentName">
                @context.EquipmentName
            </GridColumn>
            <GridColumn TItem="EquipmentBase" HeaderText="Serial No." PropertyName="SerialNumber" SortKeySelector="item => item.SerialNumber">
                @context.SerialNumber
            </GridColumn>
            <GridColumn TItem="EquipmentBase" Filterable="false" HeaderText="Select" HeaderTextAlignment="Alignment.Center" PropertyName="EquipmentId">
                <Button Color="ButtonColor.Secondary" Size="ButtonSize.Small" Outline="true" @onclick="@(()=> OnSelectEquipmentClick(@context))">Select</Button>
            </GridColumn>

        </GridColumns>

    </Grid>


</div>