@page "/equipment"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager _navigationManager;
@rendermode @(new InteractiveServerRenderMode(prerender:false));


<h3>Equipment</h3>
<p>Administrator only --  List, add, edit or delete new equipment. For example, from here we can add a new model of ventilator. for example Nippy 4000. The add screen will allow us to add additional properties e.g. Oxygen or Pressure</p>
<p>This could be a phase 2 development with entries added to the db manually for now.</p>

<button class="btn btn-success" @onclick='() => _navigationManager.NavigateTo("/equipment/add")'>Add Equipment</button>

 <QuickGrid Class="table" Items="equipment" Pagination="state">
      
        <PropertyColumn Property="@(p => p.EquipmentName)" Sortable="true" Title="name" ></PropertyColumn>
        <PropertyColumn Property="@(p => p.CreatedDate)" Format="MM/dd/yyyy" Sortable="true" Title="CreatedDate" />
    <TemplateColumn  Title="Edit">
        <ColumnOptions>
            <div>
                <a href="/equipment/add">Edit</a>
            </div>
        </ColumnOptions>
    </TemplateColumn>
    </QuickGrid>
    <Paginator State="state" />