@page "/"
@rendermode InteractiveServer
@using Ventilation.Components.Shared

<PageTitle>Ventilation System</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Patients</h4>
        </div>
        <div class="col-sm-9">
            
        </div>
        <div class="col-sm">
            <span class="pull-right"> <VentilationModal></VentilationModal></span>
           
            @*  <Button Color="ButtonColor.Success" @onclick="OnAddPatientClick"><Icon Name="IconName.PersonPlus" /></Button> *@
        </div>
    </div>
</div>

<FindPatientLoan/>

<div>

    @foreach (var loan in patientList)
    { 
        <PatientListDetail paramPatientListItem="loan"></PatientListDetail>
    } 
   
</div>






