@page "/"

@using Ventilation.Components.Shared

<PageTitle>Ventilation System</PageTitle>

<h3>Patients</h3>

<FindPatient/>

<div>

    @foreach (var loan in patientlist)
    { 
        <PatientListItem paramPatientLoan="loan"></PatientListItem>
    } 
   
</div>






