@using Ventilation.Components.Shared.FindComponents
@page "/"
@rendermode InteractiveServer
@using Ventilation.Components.Shared
@using Ventilation.Components.Shared.PatientComponents

<PageTitle>Ventilation System</PageTitle>

<Modal @ref="modal"
       UseStaticBackdrop="true"
       CloseOnEscape="false"
       Size="ModalSize.ExtraLarge">

    <BodyTemplate>

    </BodyTemplate>

    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>

    </FooterTemplate>

</Modal>


<div class="row">
    <div class="col-sm-6">
        <p><b>Patients</b></p>
    </div>
    <div class="col-sm-6">
        <div class="float-sm-end">
            <Button Color="ButtonColor.Success" Type="ButtonType.Submit" Size="ButtonSize.Small" Outline="true" @onclick="OnAddPatientClick">
                <Icon Name="IconName.PlusCircleFill" /> Add Patient
            </Button>
        </div>
    </div>
</div>




<PatientList></PatientList>






