@page "/patient/list"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager _navigationManager;
@rendermode InteractiveServer

<h3>Patient</h3>
<p>This screen will display a grid of all the patients that are currently in the system. </p>
<p>From this screen we can find a new patient to add, edit the patient details or loan equipment to a patient </p>
<br/>
<button class="btn btn-success" @onclick='() => _navigationManager.NavigateTo("/patient/find")'>Find Patient</button>
<br/>
<br/>
<a href="/patient/activity" class="pointer-event">Patient Activity -- this link will go in the grid and pass the patient id </a>