@page "/patient/equipment/add"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager _navigationManager;

@rendermode InteractiveServer

<h3>Loan a piece of equipment to a patient</h3>
<p>From here the user can find a piece of equipment that is in stock and having found said equipment , then record the additional patient equipment properties for that device </p>
<button class="btn btn-success" @onclick='() => _navigationManager.NavigateTo("/patient/equipment/find")'>Find Equipment</button>

