@page "/patientproperty"
<h3>Patient Property</h3>
<p>Administrator only -- In addition to the standard patient information such as NHS Number, Name, DOB, an admin user of the ventilation system could create additional properties to store against a patient. Current examples are Diagnosis, a sickness score and whether the patient is on a home visit</p>
<p>An admin user can manage such properties from here.</p>
<p>This could be a phase 2 development with entries added to the db manually for now.</p>