@page "/patient/find"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager _navigationManager;

<p>this screen will allow a user both to find a patient using the WIS core API and once found add them to the Ventilation System</p>
<p>In addition to the main patient details , the user will need to complete any additional fields that have been predefined in the Patient Property section by the admin</p>