@page "/patient/detail/{id:int}"
@rendermode @(new InteractiveServerRenderMode(prerender:false));



<h3>Patient Detail</h3>
<p>this screen will allow a user to enter teh additional patient details that are required for the ventilations system</p>


