@page "/stock"
@using Ventilation.Components.Shared.StockComponents
@rendermode InteractiveServer
<PageTitle>Ventilation System</PageTitle>
<Modal @ref="modal"
       UseStaticBackdrop="true"
       CloseOnEscape="false"
       Size="ModalSize.ExtraLarge">

    <BodyTemplate>

    </BodyTemplate>

    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>

    </FooterTemplate>

</Modal>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h4>Stock</h4>
        </div>
        <div class="col-sm-9">
        </div>
        <div class="col-sm nhsuk-u-float-right">
            <Button Color="ButtonColor.Success" Size="ButtonSize.Small" @onclick="OnAddStockClick"><Icon Name="IconName.PlusSquare" /></Button>
        </div>
    </div>
</div>

<!-- Statehaschanged doesn't refresh child components unless there is a related parameter-->
<CascadingValue Value="@RefreshList">
 <StockList></StockList>
</CascadingValue>
