@page "/stock/detail/{stockid:int}"
@rendermode @(new InteractiveServerRenderMode(prerender:false));
@using Ventilation.Components.Shared.StockComponents
<PageTitle>Stock Detail</PageTitle>
<h3>Edit Stock</h3>

@if (stockItem.EquipmentId != 0)
{
    <StockForm stockItem="@stockItem" OnStockItemSaved="StockItemSaved"></StockForm>
}


