@using Ventilation.Components.Shared.Form;
@using Ventilation.Components.Shared.Form.Controls
@rendermode InteractiveServer

@switch (viewModelProperty.uiControlType)
{
    case "inputtext":
        <InputTextControl viewModelProperty=@viewModelProperty></InputTextControl>
    break;
    case "inputnumber":
        <InputNumberControl viewModelProperty=@viewModelProperty></InputNumberControl>
        break;
    case "inputcheckbox":
        <Ventilation.Components.Shared.Form.Controls.InputCheckBoxControl viewModelProperty=@viewModelProperty></Ventilation.Components.Shared.Form.Controls.InputCheckBoxControl>
    break;
    case "inputselect":
        <Ventilation.Components.Shared.Form.Controls.InputSelectControl viewModelProperty=@viewModelProperty></Ventilation.Components.Shared.Form.Controls.InputSelectControl>
        break;
  default:
        <span>probably render textbox</span>
    break;
}


