<div class="nhsuk-navigation-container" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nhsuk-navigation" id="header-navigation" role="navigation" aria-label="Primary navigation">
        <ul class="nhsuk-header__navigation-list">
            <li class="nhsuk-header__navigation-item">
                <NavLink class="nhsuk-header__navigation-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Patients
                </NavLink>

            </li>
           @*  <li class="nhsuk-header__navigation-item">
                <NavLink class="nhsuk-header__navigation-link" href="patient/list">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Patients
                </NavLink>

            </li> *@
            <li class="nhsuk-header__navigation-item">
                <NavLink class="nhsuk-header__navigation-link" href="stock">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Stock
                </NavLink>

            </li>
           @*  <li class="nhsuk-header__navigation-item">
                <NavLink class="nhsuk-header__navigation-link" href="patientproperty">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Patient Property
                </NavLink>

            </li> *@
           @*  <li class="nhsuk-header__navigation-item">
                <NavLink class="nhsuk-header__navigation-link" href="equipmenttype">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Equipment Types
                </NavLink>

            </li> *@
          @*   <li class="nhsuk-header__navigation-item">
                <NavLink class="nhsuk-header__navigation-link" href="equipment">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Equipment
                </NavLink>

            </li> *@

        </ul>
    </nav>
</div>



