@rendermode InteractiveServer
<Modal @ref="modal"
       title="Add Loan"
       UseStaticBackdrop="true"
       CloseOnEscape="false"
       Size="ModalSize.ExtraLarge"
       >

    <BodyTemplate>

    </BodyTemplate>

    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>

    </FooterTemplate>

</Modal>

@* <Button Color="ButtonColor.Success" @onclick="OnAddLoanClick" Size="ButtonSize.Small"><Icon Name="IconName.Globe2" /></Button> *@


