@using Ventilation.Components.Shared.Form.Wrapper
@rendermode InteractiveServer


    @* <EditForm Model="@loanDetail" OnSubmit="OnSavePrescription"> *@

        @foreach (var qu in prescriptionQuestions)
        {
            <ControlWrapper viewModelProperty=@qu>
            </ControlWrapper>
        }

             
       @*  <button Type="submit" class="btn btn-primary">Save</button> *@
   @*  </EditForm> *@


   
   





