@using Ventilation.Components.Shared.Form.Wrapper
@rendermode InteractiveServer


<EditForm Model="@detail" OnSubmit="OnSavePrescription">
    @if(detail.Questions != null)
    {
        @foreach (var qu in detail.Questions)
        {
         <ControlWrapper viewModelProperty=@qu>
         </ControlWrapper>
        }
    }
    <button Type="submit" class="btn btn-primary">Save</button>
</EditForm>


   
   





