@rendermode InteractiveServer

<div class="form-group mb-1">
    <label>@controlLabel</label>
    <InputNumber class="form-control" id="diagnosisother" @bind-Value="@controlValue"></InputNumber>
</div>