<div class="border border-dark">


    <EditForm Model="@patientToFind" OnSubmit="OnFindClick">
        <InputText id="hospNumber" @bind-Value="@patientToFind.HospitalNumber"></InputText>
        <button Type="submit" class="btn btn-primary">Find</button>
       
    </EditForm>


</div>