
<div class="border border-dark">

    <Tabs>
        <Tab Title="Hospital Number" Active="true">
            <Content>
                <p class="mt-3">This is the placeholder content for the <b>Hospital Number</b>Hospital Number</p>
            </Content>
        </Tab>
        <Tab Title="Patient Name">
            <Content>
                <p class="mt-3">This is the placeholder content for the <b>Patient Name</b>Patient Name</p>
            </Content>
        </Tab>
        <Tab Title="Equipment Name">
            <Content>
                <p class="mt-3">This is the placeholder content for the <b>Equipment Name</b>Equipment Name</p>
            </Content>
        </Tab>
        <Tab Title="Clinical Tech Ref.">
            <Content>
                <p class="mt-3">This is the placeholder content for the <b>Clinical Tech Ref.</b>Clinical Tech Ref.</p>
            </Content>
        </Tab>
    </Tabs>
</div>

