@using Ventilation.Components.Shared.AddLoan
<span class="pull-right"> <AddLoanModal PatientId="@PatientId"></AddLoanModal></span>
<div>

    @foreach (var loan in patientLoans)
    {
        <PatientLoanItem loan="loan" ></PatientLoanItem>
    }

</div>


