@using Ventilation.Components.Shared.Form.Wrapper
@rendermode InteractiveServer


<EditForm Model="@detail" OnSubmit="OnSavePrescription">
    @if(detail.Questions != null)
    {
        @foreach (var qu in detail.Questions)
        {
         <ControlWrapper viewModelProperty=@qu>
         </ControlWrapper>
        }
    }

    <Button Color="ButtonColor.Success" Type="ButtonType.Submit" Size="ButtonSize.Small" Outline="true" >
         Save
    </Button>
    <Button Color="ButtonColor.Dark" Size="ButtonSize.Small" Outline="true" @onclick="OnCancelPrescriptionClick">
         Cancel
    </Button>

</EditForm>



<Toasts class="p-3" Messages="@messages" AutoHide="true" Delay="3000" Placement="ToastsPlacement.BottomRight" />





