@page "/equipmenttype"
<h3>Equipment Types</h3>


<p>Administrator only --   List, add , edit or delete a type of equipment. The type is for example Ventilator or mask</p> 
<p>This could be a phase 2 development with entries added to the db manually for now.</p>