@page "/stock"
<h3>Stock</h3>
<p>This screen will list all the equipment that we have in stock, with the ability to add, edit or remove items. When a new delivery of say Nippy 4000 ventilators arrive, each device will be given a unique Clinical technololgy reference number</p>

