@using Ventilation.Components.Shared.LoanComponents
<Modal @ref="modal"
       UseStaticBackdrop="true"
       CloseOnEscape="false"
       Size="ModalSize.ExtraLarge">

    <BodyTemplate>

    </BodyTemplate>

    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>

    </FooterTemplate>

</Modal>

<span class="pull-right"> <AddLoanModal PatientId="@(Patient.Id)"></AddLoanModal></span>


<div class="row">
    <div class="col-sm-6">
        <p><b>Loans</b></p>
    </div>
    <div class="col-sm-6">
        <div class="float-sm-end">
            <Button Color="ButtonColor.Success" Type="ButtonType.Submit" Size="ButtonSize.Small" Outline="true" @onclick="OnAddLoanClick">
                <Icon Name="IconName.PlusCircleFill" /> Add Loan
            </Button>
        </div>
    </div>
</div>





<div>

    @foreach (var loan in patientLoans)
    {
        <PatientLoanItem Patient="Patient" loan="loan" OnLoanDataChanged="LoanDataChanged" ></PatientLoanItem>
    }

</div>


