@rendermode InteractiveServer
@using Ventilation.Components.Shared.LoanComponents
@using Ventilation.Components.Shared.ConsumableComponents
<Modal @ref="modal"
       UseStaticBackdrop="true"
       CloseOnEscape="false"
       Size="ModalSize.ExtraLarge">

    <BodyTemplate>

    </BodyTemplate>

    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>

    </FooterTemplate>

</Modal>

<div class="border border-dark">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group row">
                <label class="col-form-label">
                    @loan!.EquipmentType 
                </label>
            </div>
            <div class="form-group row">
                <label class="col-form-label">
                    @loan!.EquipmentName 
                </label>
            </div>
            <div class="form-group row">
                <label class="col-form-label">
                     @loan!.LoanDate
                </label>
            </div>
            <div class="form-group row">
                <label class="col-form-label">
                     @loan!.ClinicalReference 
                </label>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="container">
                <Tabs EnableFadeEffect="true" @ref="tabs" NavStyle="NavStyle.Underline">
                    <Tab Title="Prescriptions" Active="true">
                        <TitleTemplate>
                            <Icon Name="IconName.BookmarkHeartFill" /> Prescriptions
                        </TitleTemplate>
                        <Content>
                            <br/>
                            <CascadingValue Value="@loan">
                             <CascadingValue Value="false">
                                <PrescriptionList paramPrescriptions=@loanPrescriptions paramIsEdit="false"></PrescriptionList>
                             </CascadingValue>
                            </CascadingValue>
                        </Content>
                    </Tab>
                    <Tab Title="Consumables" Name="Consumables">
                        <TitleTemplate>
                           <Icon Name="IconName.BagPlusFill" /> Consumables
                        </TitleTemplate>
                        <Content>
                            <br />
                             <CascadingValue Value="@loan">
                                <CascadingValue Value="false">
                                    <ConsumableList paramConsumables=@loanConsumables paramIsEdit="false"></ConsumableList>
                                </CascadingValue>
                            </CascadingValue>


                        </Content>
                    </Tab>
                </Tabs>
             
            </div>
        </div>
        <div class="col-sm-1">
            <br/>
            <Button Color="ButtonColor.Warning" Size="ButtonSize.Small" @onclick="OnEditLoanClick">
                <Icon Name="IconName.PostcardFill"></Icon>
            </Button>
        </div>

    </div>
</div>






