@rendermode InteractiveServer
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            @paramConsumable.ConsumableDate
        </div>
        <div class="col-sm-2">
            @paramConsumable.EquipmentType
        </div>
        <div class="col-sm-3">
            @paramConsumable.EquipmentName
        </div>
        <div class="col-sm-2">
            @paramConsumable.DeliveryMethod
        </div>
        @if (paramIsEdit == true)
        {
            <div class="col-sm-2">

                <Button Color="ButtonColor.Warning" Size="ButtonSize.Small" @onclick="OnEditConsumableClick">
                    <Icon Name="IconName.Activity"></Icon>
                </Button>


            </div>
        }
    </div>
</div>

