@using Ventilation.Components.Shared
@rendermode @(new InteractiveServerRenderMode(prerender:false));
@if (paramLoan != null)
{
    <div class="container">
        <div>
            Loan: @paramLoan.EquipmentName (@paramLoan.ClinicalReference)
        </div>
        <div>
            <Button Color="ButtonColor.Success" Size="ButtonSize.Small" @onclick="OnAddConsumableClick">
                <Icon Name="IconName.PlusSquare"></Icon>
            </Button>
        </div>
    </div>


    <CascadingValue Value="@UserClickedAdd">
        <ConsumableList paramConsumables=@loanConsumables paramIsEdit="true" paramLoan=@paramLoan OnConsumableListChanged="OnConsumableListChanged" OnConsumableSelected="ConsumableSelected"></ConsumableList>
    </CascadingValue>
}

